@import "../../main.scss";

.blinxon-page-panel{
  background-color: $white;
  box-shadow: 1px 10px 22px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 10px 22px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 10px 22px 3px rgba(0,0,0,0.2);
  width: 600px !important;
  height: 40vh;
  max-height: 100%;
  // background-color: rgb(212, 177, 249);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  text-decoration: none;

  &:hover{
    color: $white;
  }

  .blinxon-page-panel-title{
    // font-size: 2.5em;
    font-family: 'Espera Bold' !important;
    // backdrop-filter: blur(2px);
  }

  .blinxon-page-panel-subtitle{
    font-size: 1em;
    // color: $green;
    // font-family: 'Espera Bold' !important;
    // backdrop-filter: blur(2px);

  }

  .blinxon-page-panel-image{
    max-height: 100%;
  }

}

.blinxon-page-panel-large{
  width: 100%;
  height: 30vh;
}
