@import "../../main.scss";

#livePanel{
  box-shadow: 1px 10px 22px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 10px 22px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 10px 22px 3px rgba(0,0,0,0.2);
  height: 25vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  text-decoration: none;

  &:hover{
    color: $white;
  }

  .blinxon-live-panel-title{
    // font-size: 2.5em;
    font-family: 'Espera Bold' !important;
    // backdrop-filter: blur(2px);
  }

  .blinxon-live-panel-subtitle{
    font-size: 1em;
    // color: $green;
    // font-family: 'Espera Bold' !important;
    // backdrop-filter: blur(2px);

  }

  .blinxon-live-panel-image{
    max-height: 100%;
  }
}
