@import "../../main.scss";

#panelarticles{
  height: 95vh;
  overflow: auto;

  .panel-articles-title{
    font-size: 2.5em;
    color: $green;
  }

  .panel-articles-infos{
    opacity: .5;
  }

  .panel-article-image{
    max-width: 60%;
  }

  .panel-article-content{
    font-size: 1.2em;
  }

  .panel-articles-content-container{
    height: 100%;

    .panel-articles-list-container{
      min-height: 60vh;
      max-height: 60vh;
      overflow: auto;
      overflow-x: hidden;
      border: 2px solid $green;
      border-radius: 15px;


      .panel-article-card{
        border-bottom: 2px solid $green;

        .panel-article-card-title{
          font-size: 1.2em;
        }

        .panel-article-card-button{
          font-size: 1.5em;
          border: none;
          background: none;
        }
      }
    }

    .panel-article-list-button{
      font-size: .9em;
    }
  }
}

.panel-articles-selected-card{
  background-color: rgba($green, .1);
}
