@import "../../main.scss";

#histoire{

  .histoire-title{
    font-size: 3em;
  }

  .timeline-container{
    height: 40vh;
    background-color: rgb(240, 225, 218);
    box-shadow: -1px -21px 49px -22px rgba(0,0,0,0.5) inset;
    -webkit-box-shadow: -1px -21px 49px -22px rgba(0,0,0,0.5) inset;
    -moz-box-shadow: -1px -21px 49px -22px rgba(0,0,0,0.5) inset;
  }

  .timeline{
    width: 100%;
    height: 3px;
    background-color: $green;

    .timeline-date-container{

      .timeline-dot{
        border-radius: 50%;
        background-color: $white;
        border: 2px solid $green;
        width: 25px;
        height: 25px;
        transition: .3s;

        &:hover{
          background-color: $darker_green;
        }
      }
    }
  }

  .dashed{
    border: 2px dashed $green;
  }

  .history-container{
    // background-image: url('./line-dash-big.png');
    // background-image: url('./dashed.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
  }

  .timeline-explanations-container{
    .explanation-title{
      font-size: 2.2em;
    }

    .explanation-text{
      font-size: 1.3em;
    }
  }
}
