@import "../../main.scss";

#articlefull{
  .article-container{
    .article-title{
      font-size: 3.5em;
      color: $green;
    }

    .article-subtitle{
      font-size: 1em;
      color: rgba($black, .5)
    }

    .article-content{
      font-size: 1.2em;
    }

    .go-back-link{
      color: $green;
    }
  }

  img{
    max-width: 60%;
  }
}
