@import "../../main.scss";

#discussion{
  .comments-title{
    font-size: 3em;
    color: $green;
  }

  .comments-subtitle{
    font-size: 1.2em;
  }

  .comments-stats{

    .comments-stats-title{
      font-size: 1.5em;
    }
    .comments-stats-number{
      color: $green;
      font-weight: bold;
      font-size: 3em;
    }
  }

  .comment-form{
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    height: 25vh;

    overflow: auto;

    .comment-form-title{
      font-size: 1.2em;
    }
  }
}
