@import "../../main.scss";

#contact{
  .contact-intro{
    .contact-title{
      font-size: 3em;
      color: $green;
    }
    .contact-text{
      font-size: 1.2em;
    }
  }

  .contact-form-container, .social-container{
    background-color: $white;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
  }


  .contact-social-card, .contact-utils-card{
    text-decoration: none;
    color: $black;
  }

  .contact-form-title, .contact-social-title, .contact-utils-title{
    font-size: 2em;
  }

  .social-card-title, .utils-card-title{
    font-size: 1.5em;
  }
}
