@import "../../main.scss";

#help{
  .help-title{
    font-size: 3em;
    color: $green;
  }

  .help-sponsor-title{
    color: $green;
    font-size: 2em;
  }

  .sponsors-container{
    a{
      background-color: $white;
      box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
      -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
      border-radius: 10px;
    }
  }

  .paypal, .practical-infos{
    text-decoration: none;
    background-color: $white;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
  }

  p{
    font-size: 1.2em;
  }
}
