@import "../../main.scss";

.comment{
  box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  height: 25vh;

  .comment-infos{
    font-size: 1em;
    opacity: .5;
  }

  .comment-text-container{
    // background-color: rgb(251, 177, 4);
    height: 80%;
    overflow: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $green;
    }
  }

  .comment-infos-small{
    font-size: .8em;
    opacity: .5;
  }

  .comment-text{
    font-size: 1.2em;
  }
}
