@import "../../main.scss";

#panelhomecardsadd{
  min-height: auto;

  .panel-edit-article-title{
    font-size: 2.5em;
    color: $green;
  }

  .panel-edit-form-container{
    height: 90vh;
    overflow: auto;
  }

  .panel-edit-article-title-preview{
    @extend .panel-edit-article-title;
  }

  .panel-edit-article-subline-preview{
    font-size: 1em;
    color: rgba($black, .5);
  }

  .panel-edit-article-content-preview{
    font-size: 1.2em;
  }
}
