@import "../../main.scss";

#blinxon-navbar{
  background-color: $white;
  box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);

  .blinxon-navbar-title{
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Espera Bold';
    color: $green;
  }

  .nav-link{
    color: $green;
    text-decoration: none;
    font-size: 1.8em;
  }

  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(15, 115, 34)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }
}

@media screen and (min-width: 1108px) and (max-width: 1288px) {
  .nav-link{
    font-size: 1.5em !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1108px) {
  .nav-link{
    font-size: 1.2em !important;
  }
}
@media screen and (max-width:992px) {
  .blinxon-navbar-title{
    font-size: 2em !important;
  }
  .navbar-brand-image{
    height: 50px !important;
  }
}
