@import "../../main.scss";

.statbar{
  .statbar-title{
    font-size: 1.8em;
  }
  .statbar-description{
    font-size: 1.2em;
  }
  .statbar-link{
    text-decoration: none;
    color: $green;

    &:hover{
      text-decoration: none;
    }
  }
}
