@import "../../main.scss";

#navbarpanel{
  // height: 10vh;
  background-color: $white;
  box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);

  .navbar-panel-logo-link{
    height: 7vh;
  }

  .navbar-panel-link{
    list-style-type: none;
    color: $green;
    font-size: 1.5em;
  }

  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(15, 115, 34)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }
}
