@import "../../main.scss";

#panelhomecards{
  height: 95vh;
  overflow: auto;

  .panel-homecards-title{
    font-size: 2.5em;
    color: $green;
  }

  .panel-homecards-content-container{
    height: 100%;

    .panel-homecards-list-container{
      min-height: 60vh;
      max-height: 60vh;
      overflow: auto;
      overflow-x: hidden;
      border: 2px solid $green;
      border-radius: 15px;


      .panel-homecards-card{
        border-bottom: 2px solid $green;

        .panel-homecards-card-title{
          font-size: 1.2em;
        }

        .panel-homecards-card-button{
          font-size: 1.5em;
          border: none;
          background: none;
        }
      }
    }

    .panel-homecards-list-button{
      font-size: .9em;
    }
  }
}

.panel-homecards-selected-card{
  background-color: rgba($green, .1);
}
