@import "../../main.scss";

.articlepreview{
  border-radius: 10px;
  // border: 1px solid rgba($black, .2);
  // background-image: url('https://image.freepik.com/free-vector/tire-trace-car-road-dirty-grunge-tire-tracks-race-rubber-wheel-vehicle-motocross-horizon-speed-texture-marking_176411-326.jpg');
  color: $black;
  text-decoration: none;

  height: 30vh;
  max-height: 30vh;
  width: 95%;

  -moz-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.2);

  &:hover{
    color: $black;
    text-decoration: none;
  }

  .article-preview-title{
    font-size: 1.5em;
  }


  .article-preview-infos{
    font-size: .8em;
    opacity: .5;
  }

  .article-preview-content{
    font-size: 1.1em;
  }

  .article-preview-background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
