@import "../../main.scss";

#actuspage{

  // background-image: url('https://image.freepik.com/free-vector/tire-trace-car-road-dirty-grunge-tire-tracks-race-rubber-wheel-vehicle-motocross-horizon-speed-texture-marking_176411-326.jpg');
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;

  .actus-menu{
    top: 10vh;
  }

  .articles-preview-container{
    overflow: auto;
  }
}
