@import "../../main.scss";

#panel{

  .panel-container{
    height: 80vh;

    .panel-welcome-container{
      border: 2px solid $green;
      border-radius: 15px;
      height: 60%;

      .panel-title{
        font-size: 3em;
        color: $green;

        .panel-title-names{
          color: $black;
        }
      }
      .panel-suggestions-title{
        color: $green;
        text-decoration: underline;
        font-size: 1.2em;
      }

      .panel-shortcut-button{
        font-size: 1em;
      }
    }

    .panel-stats-container{
      height: 60%;

      .panel-stats-text{
        color: $green !important;
        font-size: 3.2em !important;

        .panel-stats-text-legend{
          font-size: .8em;
          color: $black;
        }
      }
    }
  }

  .panel-welcome-text{
    font-size: 1.5em;
  }
}
