@import "../../main.scss";

#panelarticlesedit{
  min-height: auto;

  .panel-edit-article-title{
    font-size: 2.5em;
    color: $green;
  }

  .panel-edit-form-container{
    height: 90vh;
    overflow: auto;
  }

  .panel-edit-article-title-preview{
    @extend .panel-edit-article-title;
  }

  .panel-edit-article-subline-preview{
    font-size: 1em;
    color: rgba($black, .5);
  }

  .panel-edit-article-content-preview{
    font-size: 1.2em;
  }

  .existing-articles-container{
    height: 10vh;
    overflow: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 3px;
      border-radius: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 3px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 3px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
      border-radius: 3px;
    }
  }
}
