@font-face {
  font-family: 'Espera';
  src: url('./fonts/Espera-Regular.ttf');
}

@font-face {
  font-family: 'Espera Bold';
  src: url('./fonts/Espera-Bold.ttf');
}

$black: #000000;
$white: #FCFCFC;
$green: #0F7322;
$red: #e74c3c;
$darker_green: #005A07;

*{
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Espera';
}

li{
  list-style-position: inside;
}

.blinxon-link{
  color: $green;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
    color: $darker_green;
  }
}


// BOOTSTRAP MODIFICATIONS
.btn-outline-success, .btn-success{
  color: $green !important;
  border-color: $green !important;

  &:hover{
    background-color: $green !important;
    color: $white !important;
  }
}

.modal-dialog{
  width: 70vw !important;
  height: 50vh !important;
}

textarea, input{
  &:focus, &:active{
    outline: 0px !important;
    outline-color: $green !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    // $input-border-focus: red !important;
  }
}

.link{
  color: $green !important;
  text-decoration: none !important;
  font-size: 1.5em !important;
  transition: .3s !important;
}

.red{
  color: $red;
  &:hover{
    color: $red;
  }
}

.green{
  color: $green;
  &:hover{
    color: $green;
  }
}

.white{
  color: $white;
  &:hover{
    color: $white;
  }
}
